#saludo{
    font-size: 150px;
    font-weight: 900;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
    -webkit-text-stroke: 1px white;
}

.medio{
    font-size: 18pt;
}

#inicio{
    min-height: 90vh;
}

*{
    font-family: Consolas;
    scroll-behavior: smooth;
}

#container-bienvenida{
    min-height: 90vh;
}

.card-hover:hover{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(44,21,98,1) 0%, rgba(35,53,143,1) 47%, rgba(93,175,166,1) 100%);
}

.carousel-caption{
    text-shadow: 0 0 10px #000;
    font-weight: 700;
    font-size: 25pt;
}

.carousel-item > img{
    filter: brightness(70%);
    object-fit: contain;
}

@media (min-width: 1000px) {
    .carousel-item > img{
        width: 100%;
    }        
}

@media (max-width: 1000px) {
    .carousel-item > img{
        height: 70vh;
    }        
}

.form-label{
    color: white;
}

.hideme
{
    opacity:0;
}

.inicio-fade{
    opacity: 0;
}