#saludo{
    font-size: 150px;
}

.medio{
    font-size: 18pt;
}

h1 {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(93,175,166,1) 0%, rgba(85,45,179,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

#inicio{
    min-height: 90vh;
}

#foto-bienvenida{
    background-image: url('../img/foto.jpg');
    object-fit: fill;
    min-height: 90vh;
}