#saludo{
    font-size: 150px;
    font-weight: 900;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
    -webkit-text-stroke: 1px white;
}

.medio{
    font-size: 18pt;
}

#inicio{
    min-height: 90vh;
}

*{
    font-family: Consolas;
    scroll-behavior: smooth;
}

#container-bienvenida{
    min-height: 90vh;
}